.contact {
  background-color: #fff;
  border-bottom: 1px solid #e4ebf3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  position: relative;

  .contact-container {
    background-color: #0000;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 85%;
    height: 96px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;

    .div-contact-info {
      grid-column-gap: 6px;
      grid-row-gap: 6px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 2px;
      display: flex;

      .h4 {
        font-weight: 700;
      }
    }
  }
}