@use './../../utils/mixins' as *;


$reviewHeight: 250px;

.clients {
  padding: 50px 0;
  margin: 0 !important;

  .div-clients {
    width: 100%;

    .slide-parent {

      @include infinite-loop($width: 300px, $height:$reviewHeight, $time:80s);


      .infinite-loop {
        margin-bottom: 16px !important;

        &:hover {
          .list .item {
            // animation-play-state: paused;
          }

        }
      }

    }
  }

  .review {
    border-radius: 20px;
    background-color: #F1F5F8;
    height: 100%;
    padding: 10px;

    .container-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 5px;



      .text {
        min-width: 100%;
        border-radius: 15px;
        background: #FFF;
        padding: 7px;
        height: calc($reviewHeight - 90px);
        line-height: 23px;
        font-weight: 600;
        overflow: hidden;
        // white-space: nowrap;
      }

      .info {
        align-items: start;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        h5 {
          font-size: 13px;
        }

        img {
          max-width: 22px;
        }
      }

      .stars {
        gap: 5px;

        img {
          width: 20px;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .clients {
    .div-clients {

      .slide-parent {

        @include infinite-loop($width: 250px, $height:$reviewHeight, $time:70s);

      }
    }
  }
}