.road-maps {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      #ecf8ffcc 10%,
      #ecf8ffcc 80%,
      rgba(255, 255, 255, 0) 100%);

  .img-course {
    max-width: 90%;
  }

  .img-laptop {
    display: unset;
  }

  .img-mobile {
    display: none;
  }

  .header-content {
    .text-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 7px;

      img {
        max-width: 42px;
        margin-bottom: 15px;
      }
    }

    .text-light {
      font-size: 20px;
      margin-top: 15px;
      font-weight: 600;

      span {
        color: var(--blue);
        opacity: 1 !important;
      }
    }
  }


  .ant-tabs {
    width: 100%;

    .ant-tabs-ink-bar {
      background-color: var(--blue);
      height: 100% !important;
      z-index: -1;
      border-radius: 30px;
    }

    .ant-tabs-nav {
      &::before {
        display: none !important;
      }

      .ant-tabs-nav-list {
        background-color: white;
        border-radius: 42px;
        gap: 0;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto 20px;
        overflow: hidden;
        width: 100%;

        .ant-tabs-tab {
          border: none;
          width: 16.6%;
          font-size: 20px;
          margin: 0;
          color: var(--text-color);

          div {
            transition: .3s;
            width: 100%;
          }


          &.ant-tabs-tab-active {
            div {
              color: white;
            }
          }
        }
      }
    }
  }

  .image-loader-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 230px;

    .main-image {
      position: absolute;
      opacity: 0;

      &.show {
        position: relative;
        opacity: 1;
      }
    }

    .loader-overlay {
      position: absolute;
      inset: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(2px);
      z-index: 1;
    }
  }

  .active-sec {
    min-height: 150px;
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  button {
    &:hover {
      transform: none;

    }
  }

  .plans {
    margin-top: 80px;

    h2 {
      margin-bottom: 30px;
    }

    .selected {
      max-width: 250px;
      margin: 20px auto 30px;
      background-color: var(--orange);
      color: white;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      border-radius: 40px;
      font-weight: 600;
      font-size: 21px;
    }

    .plans-container {
      width: 100%;
      overflow: scroll;


      .pricing-plans {
        width: 1200px;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 30px;
        padding: 70px 0 20px;
      }

    }
  }
}





@media (max-width: 1024px) {
  .road-maps {
    .plans-container {
      max-width: 100vw;
    }
  }
}


@media (max-width: 991px) {
  .road-maps {
    .plans {
      .pricing-plans {
        grid-column-gap: 16px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        place-content: stretch start;
        justify-items: center;
        padding-left: 40px;
        padding-right: 40px;
        overflow: auto;
      }
    }
  }

}

@media (max-width: 767px) {

  .road-maps {
    .img-course {
      margin-top: -50px;
    }

    .img-laptop {
      display: none;
    }

    .img-mobile {
      display: unset;
    }

    .plans-container {
      overflow: hidden;

      .pricing-plans {
        width: 100% !important;
        padding: 0 !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        gap: 0 !important;

        .pricing-card2 {
          margin-bottom: 40px;
        }

      }
    }
  }
}

@media (max-width: 646px) {
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      font-weight: 600;

      .label {
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .road-maps {
    grid-row-gap: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
