.dashboard {
  background-color: #F5F8FB;
}

.track-card {
  background-color: var(--blue);
  padding: 10px 15px;
  width: 100%;
  border-radius: 15px;
  color: white;

  .info-container {
    align-items: start;
    margin-bottom: 15px;
    justify-content: space-between;


    .people {
      margin-left: 15px;

      .MuiAvatar-root {
        width: 30px;
        height: 30px;
        font-size: 1.1rem;

      }
    }

    .icon-text {
      align-items: start;
      gap: 10px;

      img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }

      .text {
        .title {
          font-size: 20px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }

        .dis {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  .line-sessions {
    width: 100%;
    justify-content: space-between;


    .sessions-counter {
      font-size: 20px;
      font-style: normal;
      line-height: normal;
      white-space: nowrap;
      font-weight: 600;
      strong{
        margin: 5px;
        font-weight: 700;
        letter-spacing: 1.5px;
      }
    }

    .ant-progress-text {
      color: #00E635;
    }

    .line {
      flex: 1;
      color: white;
      max-width: 600px;
    }

  }


}